
body {
    background-color: #fcfcfc; /*ghostwhite = #f8f8ff, mintcream = #f5fffa*/
}
header {
    text-align: center;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    font-family: fantasy, sans-serif;
    margin-bottom: 5%;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.sub {
    position: relative;
    width: 100%;
    border-top: 1px solid #DADADA;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 6px;
    font-size: 24px;
    margin-bottom: 5px;

}

.main-header {
    position: absolute;
    top: 50px;
    left: -50%;
    margin-left: 50%;
}
.interior {
    position: absolute;
    width: 76%;
    height: 100%;
    top: 125px;
    left: 50%;
    margin-left: -38%;
    padding: 10px;
}

.navbar {
    z-index: 1;
}

.panel-heading {
    cursor: pointer;
}

#alert-box {
    float:right;
    margin: -10px 25px;
}

/**********
 Time Clock
***********/

#clock-in {
    margin: 0px auto;
    text-align: center;
    width: 300px;
    
}


#clock-in select {
    margin-bottom: 10px;
}

.btn-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: ; /* Create background image for select to standardize view across browsers*/
    margin: 0px;
    padding: 6px 18px 6px 12px;
    text-align:center;
}

#clock-out {
    display: none;
    margin: 5px auto;
    width: 185px;
    height: 35px;
}

#clock-button {
    float: left;
    margin: 0px;
}

.btn {
    border-radius: 0px;
}

#clock {
    position: relative;
    display: inline-block;
    float:left;
    padding: 0 5px;
    border: 1px solid #CCC;
    height: 34px;
    font-size: 150%;
}

#current-project {
    text-align: center;
    width: 100%;
    font-size: 1.25em;
    display: none;
}

#total-hours {
    top: 15%;
}

#project-wrapper {
    margin: 10px auto;
    width: 50%;
}

.alert-project {
    padding: 5px;
    margin: 0px;
    text-shadow: 0 1px 0 #fff;
    background-color: #efefef;
    border-radius: 2px;
    border-color: #CCC;
}


.client-panel {
    padding: 5px 0 5px 25px;
}

/****************
	Clients and Projects
*****************/
#clients {
	float: left;
    margin: 0 5px;
    width: 31%;
}

#projects {
	float: left;
    margin: 0 5px;
    width: 31%;

}

#cp-tools {
    float: left;
    margin: 0 5px;
    width: 31%;
}

.sort-tabs {
    margin: 0px;
    margin-top: -6px;
    margin-bottom: 10px;
}

.sort-tabs div {
    width: 49%;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 10px;
    line-height: 1.5em;
    color: #555;
    background-color: white;
    cursor: pointer;
}

.sort-tabs i {
    font-size: 12px;
}

.sort-tabs .active {
    background-color: #d9edf7;
}

form {
    width: 100%;
}

input {
    margin: 5px;
    border: 1px solid black;
}

select {
    margin: 5px;
    border: 1px solid black;
}

textarea {
    width: 70%;
    margin: 5px;
    border: 1px solid black;
    resize: none;
}

#interval {
    visibility: hidden;
}

#client-list .list-group-item {
    cursor: pointer;
}
/****************
	Billing
*****************/

#b-tools {
    float: right;
    margin: 0 5px;
    width: 110px;
    display: none;
}

#time-report {
    float: left;
    margin: 0 5px;
    width: 47%;
}

.tool-btn {
    width: 100%;
    margin: 5px 0px;
    white-space: normal;
}

#pay-total {
    text-align: center;
    font-weight: bold;
}
